# Ignore everything
*
# Don't ignore directories, so we can recurse into them
!*/


# Don't ignore .gitignore and *.foo files
!.gitignore
!*.ipynb
!*.xlsx
!*.pdf
!*.odt
!*.txt
# ignore the dataset
/LegalAdhocTask/